
{% extends 'restaurant/base.html' %}
<!--{% load controllers_tags %}-->


{% block content %}
<ul class="list-articles">

	{% for p in posts %}
	<!-- Или for p in object_list  -->

			<li><div class="article-panel">
	<p class="first">Категория: {{p.cat}}</p>
	<p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
				</div>
	{% if p.photo %}
	<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
	{% endif %}

				<h2>{{p.nik_name}}</h2>
			<!-- Words Filters -->
            <p>{{p.about|linebreaks|truncatewords:100}}</p>
	<!-- Экранирование -->
	{% autoescape on %}
	{{p.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<!--	Tag url		-->
<!--			<p class="link-read-post"><a href="{% url 'news' p.pk %}">Читать пост</a></p>  -->
			<!--	Переменный записи в базе данных 	-->
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}